  Hi <%= @pseudo %>
<p>
  Reset your password, and we'll get you on your way.
</p>
</br>
<p>
  To change your .panda password, click <%= link "here", to: @link %> or paste the following link into your browser:
</p>
</br>
<p>
  <tab><%= link @link, to: @link %>
</p>
</br>
<p>
  This link will expire in 24 hours, so be sure to use it right away.
</p>
</br>
