  Hi <%= @pseudo %>
<p>
  Welcome to .panda!
</p>
</br>
<p>
  Please click on the link below to verify your email and activate your account: <%= link @link, to: @link %>
</p>
</br>
<p>
  It's great to have you on board!
</p>
