<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>.panda</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <!-- <div class="container"> -->
      <!-- <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header> -->

      <!-- <div class="alert alert-info" role="alert">heello</div>
      <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div> -->

      <!-- <main role="main"> -->
        <%= render @view_module, @view_template, assigns %>
      <!-- </main> -->

    <!-- </div> -->
    <!-- /container
    <!-- <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script> -->
  </body>
</html>
