<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
  </br>
  <p>
    Kindest regards,
  </p>
  <p>
    - The .panda Team.
  </p>
  </body>
</html>
