<div class="jumbotron1">
  <div class ="container">
    <div class="row">
      <div class="col-xs-offset-6 col-xs-6
                  col-sm-offset-6 col-sm-5
                  col-md-offset-6 col-md-5">
          <!-- <div class ="title">.panda</div> -->
          <div class="title">
            <img class="img-responsive" src="/images/logo_text.png">
          </div>
          <div class="message2">Get the App</div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron2" >
  <div class="container">
    <div class="clearfix visible-sm-block visible-md-block visible-lg-block">
      <div class="row">
            <div class="clearfix visible-lg-block">
            <br>
            </div>
            <br>
            <div class="col-lg-7 col-md-6 col-sm-6"> </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
              <a href="https://itunes.apple.com/us/app/panda/id1148413735?ls=1&mt=8">
                <img class="img-responsive" src="/images/button_apple.png" padding="5px">
              </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3">
                <img class="img-responsive" src ="/images/button_google_play.png" padding="5px">
            </div>
      </div>
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9"> </div>
        <div class="col-lg-2 col-md-2 col-sm-3">
            <div class="control-label">(soon)</div>
        </div>
      </div>
    </div>
    <div class="clearfix visible-xs-block">
      <br>
      <div class="row">
        <div class="col-xs-7"> </div>
        <div class="col-xs-5">
          <a href="https://itunes.apple.com/us/app/panda/id1148413735?ls=1&mt=8">
            <img class="img-responsive" src="/images/button_apple.png">
          </a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-7"> </div>
        <div class="col-xs-5">
            <img class="img-responsive" src ="/images/button_google_play.png">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-7">
            <div class="control-label">(soon)</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panda">
    <img class="img-responsive" src="images/logo_panda.png">
</div>
