<div class="jumbotron1">
  <div class ="container">
    <div class="row">
      <div class="col-xs-offset-5 col-xs-6
                  col-sm-offset-6 col-sm-5
                  col-md-offset-6 col-md-5">
          <div class ="title3"><%= @title %></div>
          <div class="message3"><%= @message %></div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron2" >
  <div class="container">
    <div class="row">
        <div class="clearfix visible-lg-block">
          <br>
        </div>
          <br>
        <div class="col-xs-offset-5 col-xs-6
                    col-sm-offset-6 col-sm-5
                    col-md-offset-6 col-md-5">
          <div class="info">
            <%= link "Go Home", to: home_path(@conn, :index) %>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="panda">
  <%= if @success do %>
    <img class="img-responsive" src="/images/logo_panda_success.png">
  <% else %>
    <img class="img-responsive" src="/images/logo_panda_error.png">
  <% end %>
</div>
