<%= form_for @changeset, @action, fn f -> %>
<%= if @changeset.valid? == false do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
<% end %>
<div class="jumbotron1">
  <div class ="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8
                  col-sm-offset-3 col-sm-5
                  col-md-offset-3 col-md-5">
          <div class ="title3">.panda</div>
          <div class="message3">Reset Password</div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron2" >
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8
                  col-sm-offset-3 col-sm-5
                  col-md-offset-3 col-md-5
                  col-lg-offset-3 col-lg-5">
        <div class="form-group">
          <%= label f, :new_password, class: "control-label" %>
          <%= password_input f, :new_password, [class: "form-control"] %>
          <%= error_tag f, :new_password %>
        </div>
      </div>
      <div class="col-xs-offset-2 col-xs-8
                  col-sm-offset-3 col-sm-5
                  col-md-offset-3 col-md-5
                  col-lg-offset-3 col-lg-5">
        <div class="form-group">
          <%= label f, :confirm_password, class: "control-label" %>
          <%= password_input f, :confirm_password, [class: "form-control"] %>
          <%= error_tag f, :confirm_password %>
        </div>
      <div class="col-xs-offset-1 col-xs-10
                  col-sm-offset-3 col-sm-6
                  col-md-offset-3 col-md-6
                  col-lg-offset-3 col-lg-6">
          <div class="form-group">
            <%= submit "Reset", class: "btn btn-default" %>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>
